
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
   
}

/*header*/

header {
    width: 100%;
    height: 7vw;
    background:#15152fcd 37%;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    padding: 1.5vw 0;
    font-family: "Montserrat", sans-serif;
}

/*navegación*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .movil {
 

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1vw;
            margin-left: 2vw;
            
        }

        .logo img{
            width: 3.5vw;
            height: 3.5vw;
            filter: drop-shadow(3px 3px 3px #0b0b0bb7);
        
        } 

        .logo p{
            font-size: 1.5rem;
            color: #dedcdc;
        }

        button {
            display: none;
            cursor: pointer;
        }

    }

 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.3vw;
    margin-right: 5vw;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 2s ease, transform 1s ease;
    cursor: pointer;

    a{ 
        color: #dedcdc;
    }

    .cerrar{
        display: none;
    }

   

    li {
        padding: 9px 23px;
        border: 2px solid transparent;
    }
 
   
    li:hover {
        border: 2px solid #72a5d4;
        border-radius: 20px;
    
   }

 }
}




main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, #d3e8f1 0%, #dce7fb48 100%);
}

/*presentación de inicio */

.container-inicio { 
   
    background: linear-gradient(to bottom, #103463 0%, #097a9c5b 55%, #b3d1e231 96%, #d9e7ff15 100%);
    width: 100%;
    height: 100svh; 
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: nowrap;
    gap: 0.6vw;
    padding: 0 10vw;
    
}



.presentacion{

width: 45%;
color: whitesmoke;
text-align: left;
margin-top: 6cap;

h1 {
    font-size: 3em;
    margin: 1.7vw 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: 100;
    width: 75%;
    text-align: left;
    white-space: 8px;
    line-height: 1.1;
   

   }


h2 {
    font-size: 1.3rem;
    font-family: "Monserrat", sans-serif;
    margin: 30px 0;
    text-align:left;
    width: 75%;
    color:#223c58;
}

}

.presentacion button {
    position: relative;
    text-align: center;
    text-wrap: nowrap;
    padding: 17px 18%;
    border-radius: 30px;
    margin: 20px auto;
    border: 1px solid #3f5674d7;
    background-color: #082f4ef3;
    filter: drop-shadow(5px 5px 7px #696969b7);
    cursor: pointer;
   
     
}

.presentacion button:hover {
  
    background: linear-gradient(to right, #033f5fe9 0%, #06b2e6 100%)
   
}



.presentacion button a {
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
   
}



.imagen {
    width: 40%;
    padding: 20px 80px 20px 0;
    margin-top: 68px;

    img {
    width: 36vw;
    height: 36vw;
    text-align: center;
    filter: drop-shadow(5px 5px 8px #afafafad);

    
    } 
   
 
}

.titulo {
    text-align: center;
    font-size: 2rem;
    color: #0e284d;
    font-weight: bold;
    margin: 45px;
    text-wrap: wrap;
    font-family: "Montserrat", sans-serif;

    b {
        color:#2865ab;
        font-weight: 600;
    }
}


.subtitulo {
    width: 100%;
    padding: 0 6vw; 
    color: #0e284d;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
}




/*servicios*/

.ofrecidos {
    width: 100%;
    height: 45vw;
    padding: 60px 40px;
    
     

    p {
        color: #1b1051;
        margin: 10px;
        font-size: 1.3rem;
        font-family: "Inter", sans-serif;
    }

}

.gradiente {
  background: linear-gradient(to bottom, #026aa2e9 15%, #03c4ff 60%, #40ebfe 100%);
  padding: 5px 4px; /* el grosor del borde */
  border-radius: 20px;
  margin: 0 auto;
  width: 16.7vw;
  height: 34.5vh;
  z-index: 0;
  text-align: center;
  box-shadow: 4px 4px 12px #0000002b;
}




.item-servicio {
    
    margin-top:110px;
   
   
    ul {
   
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 46px;

    }

    li {
        
        display: block;
        text-align: center;
        width: 16vw;
        height: 33vh;
        border-radius: 17px;
        background: #ebecec;
        padding: 15 px;
        margin: 0 auto;
        text-align: center;
        z-index: 3;
        border: 1px solid gray;
        
        p {
            margin-top: 14px;
            z-index: 5;
        }
    }

    img {
        filter: drop-shadow(5px 5px 10px #4f4c686c);
        margin-top: 15px;
        z-index: 5;
    }
}

.item-servicio li:hover {
    
    
    img {
        transform: scale(1.3);
    }

}




/*planes*/


.planes {
    margin-top: -70px;
}

.catalogo {
    width: 100%;
    height: 125vh;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    gap: 2vw;
    
       

    h3 {
        text-align: center;
        margin: 70px 0 30px 0;
        font-size: 1.4rem;
    }


    ul li {
        font-size: 1.1rem;
    }
}    

.sitio, 
.landing,
.institucional,
.pagina {
        padding: 10px;
        width: 30%;
        height: 47vw;
        color: white;
        margin-top: 0px;
        border-radius: 10px;
        position: relative;
        padding: 25px 25px;
        filter: drop-shadow(5px 5px 7px #808080ac);
        font-size: 1.1rem;
        margin-top: 30px;
 
        strong {
            font-size: 1.2rem;
            font-weight: bold;
            color: #fcfdfe;
            line-height: 1.2;
           
        }
}


.catalogo .promo {
    padding: 10px 5px;
    background-color: rgb(158, 158, 158);
    margin-left: -25px;
    margin-top: -25px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    width: 45%;
    font-size: 1rem;
}



.descripcion {
       
      

        h3 {
          
            margin: 40px auto;
            font-size: 1.4rem;
            color: white;
            font-weight: bold;

        }

        p {
           
            text-align: left;
            margin-bottom: 17px;
            line-height: 1.4;
            font-family: "Inter", sans-serif;
        }

        ul{
            margin: 10px 0;
        }

}

.contratar {
    width: 100%;
    height: 7vw;
    position: absolute;
    bottom: 0;
    left: 0;
    
   

    button {
        background: #F5F5F5;
        width: 100%;
        height: 7vw;
        border-radius: 0 0 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        border: none;
        text-align: center; 
        margin-top: 0; 
        
        a{
            color: #15407c;
            padding: 10px 40px;
            cursor: pointer;
            font-size: 1.5rem;
        }

       
                      
    }

    button:hover {
        background: #d8d8d8;
    }  

    
}


.landing{
    background: #13538f;
}

.pagina {
    background: #137acf; 
}

.sitio {
    background: #199aa0f7;
    border: 4px solid #8a8989;
}

.institucional {
    background: #1341f9de; 
}



/*beneficios*/

.gradientes {
  background: linear-gradient(to bottom, #026aa2e9 15%, #03c4ff 60%, #40ebfe 100%);
  padding: 4.5px 3px; /* el grosor del borde */
  border-radius: 20px;
  margin: 0 auto;
  width: 21.3vw;
  height: 29.5vh;
  z-index: 0;
  text-align: center;
  box-shadow: 4px 4px 12px #0000002b;
}

.beneficios-ul{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    padding: 40px;

    ul {
        display: flex;
        gap: 70px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        font-size: 1.1rem;
        line-height: 1;
        text-align: center;

        li{
            display: block;
            text-align: center;
            width: 20.8vw;
            height: 28vh;
            border-radius: 17px;
            margin: 0 auto;
            text-align: center;
            background: #f5fafc;
            font-size: 1.1rem;
            color: #173250;
            padding: 15px;
          

            img{
                display: block;
                text-align: center;
                margin: 7px auto;
                filter: drop-shadow(5px 5px 10px #87d0da9c);   
            }

            .oculto {
                display: none;
            }

            
        }
    }

}

.beneficios ul li:hover {
    filter: drop-shadow(7px 7px 15px #a1cae2bd);   
    
    img {
        transform: scale(1.2);
    }

}


/*reseñas*/

.reseñas {

    width: 100%;
    height: 75vh;
    margin-top: 10px;
    margin-bottom: 120px;
    padding: 0 70px;
    text-align: center;
    
}


.reseñas .agregar-reseñas {
   
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20vw;
    width: 100%;
    margin-bottom: 70px;

    h2 {
        text-align: center;
        font-size: 2rem;
        color: #173250;
        text-wrap: nowrap;
      
    }

    a {
        padding: 13px;
        background: #173250;
        color: whitesmoke;
        border-radius: 8px;
    }

    a:hover {
  
    background: linear-gradient(to right, #033f5fe9 0%, #06b2e6 100%)
   
    }
}
  
 
/*whatsapp*/

.whatsapp {
  
    position: fixed;
    right: 18px;
    bottom: 40px;
    animation: none;
    z-index: 20;
}

.whatsapp .mensaje {

    display: flex; 
    align-items: center;
    gap: 5px;

    .burbuja{
        background: #f9fafa;
        padding: 10px;
        border-radius: 20px;
        visibility: hidden;
        color:#0a216e;
        font-size: 1.3rem;

    }

    i{
    font-size: 2.9rem;
    color: whitesmoke;
    background-color: #3ad185;
    border-radius: 100%;
    padding: 5px;
    z-index: 20;
    filter:drop-shadow(3px 3px 5px #a5a5a554);
          
    }

   

    a{
        font-size: 1.4rem;
        color:#18338c;
        display: flex;
        align-items: center;
        padding: 5px 5px;
        
               
    }
}



.whatsapp .mensaje:hover {
   
    .burbuja {
        visibility: visible;
        transition: opacity 0.8s ease, transform 0.8s ease;
        
    }

}



/*contacto*/

.blog {
    width: 100vw;
    height: 70vh;
    padding: 30px 70px 30px 70px;
    margin-bottom: 60px;
    
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 1.2rem;
    filter:drop-shadow(3px 3px 3px #a5a5a575);
   
    img {
        width: 45%;
        height: 60vh;
        border-radius: 10px 0 0 10px;
    }
    
}


.info{
    width: 55%;
    height: 60vh; 
    text-align: left;
    padding: 3vw;
    

    h3 {
       color: #173250;
       font-size: 2rem; 
       padding-left: left;
    }

    p {
        margin-top: 20px;
        color: #173250;
        font-size: 1.2rem;
        line-height: 1.5;
        text-align: justify;
        margin-bottom: 40px;
    } 

    a {
        color: #173250;
        border: 1px solid gray;
        padding: 10px; 
        
    }

    a:hover {
        background: #173250;
        color: whitesmoke;
      
    }

}


/*contacto*/

.contacto {
    width: 100vw;
    height: 100vh;
    padding: 30px 70px;
   
}


.formulario {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 9vw;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 1.2rem;
    filter:drop-shadow(3px 3px 3px #a5a5a575);
    
      
    img {
        width: 45%;
        height: 75vh;
        border-radius: 0 10px 10px 0;
        margin-right: 0;
        
    }
    
    fieldset {
          padding: 2vw;
    }
    

    h3 {
       color: #173250;
       font-size: 1.8rem; 
       margin-bottom: 25px;
       text-align: left;
    }
   
    p{
        text-align: left; 
        font-size: 1.2rem;
        color: #173250;
        width: 87%;

    }
  
    input {
        margin-top: 13px;
        width: 87%;
        height: 40px;
        padding-left: 5px;
        color: #173250;
        font-size: 1.1rem;
        border-radius: 8px;
        border: 1.5px solid #2865ab;
       

        placeholder {
            font-size: 1rem;
            color:dimgray;
            
        }

    }

    textarea {
        margin-top: 13px;
        width: 87%;
        height: 70px;
        padding-left: 5px;
        color: #173250;
        font-size: 1.1rem;
        border-radius: 8px;
        border: 1.5px solid #2865ab;

    }

   

    fieldset {
    border: none;
    text-align: left;
         
    
    }
    

    button{
   
    text-wrap: nowrap;
    width: 9vw;
    height: 3.5vw;
    border-radius: 5px;
    border: 1px solid #173250;
    background-color: transparent;
    cursor: pointer;
    margin-top: 25px;
    color: #173250;
    font-weight: 400;
    font-size: 1.2rem;
    filter:drop-shadow(3px 3px 3px #a5a5a586);
    text-align: left;
    padding: 1vw 2.5vw;
          
}

    button:hover {
        background: #173250;
        color: whitesmoke;
      
    }

}




footer {
    width: 100%;
    height: auto;
    background: #15152f;
    text-align: center;
    color: whitesmoke;
    padding: 40px 0;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
   
   

    svg {
        width: 3.5vw;
        height: 3.5vw;
        margin: 20px 0;
    }

    svg:hover {
        transform: scale(1.2);
        transition: ease 300ms;
    }
}


/*responsive mobile*/

@media(max-width: 500px){

    header {
        width: 100vw;
        height: 19vw;
        background: #1034632c;
        padding: 0;
        position: fixed;
        backdrop-filter: blur(15px);
    }

    .navbar {

        
        .movil {

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50vw;

            .logo {
                gap: 1vw;
                margin-left: 4vw;
                margin-top: 6vw;
                z-index: 50;
            }

            .logo img{
                width: 9vw;
                height: 9vw;
            
            } 

            .logo p{
                font-size: 1.3rem;
                color: white;
                font-weight: 500;
            }


            button {
                display: block;
                background: transparent;
                border: none;
                width: 10vw;
                height: 9vw;
                margin-top: 5vw;
                cursor: pointer;

                i{
                 
                   
                    font-size: 1.9rem;
                    color: white;
                    text-align: center;
                    
                }

            }

        }


    }        
    
    /*desplazar menu movil*/ 
    
    .nav-menu {
    transform: translateX(100%); /* menú oculto fuera de pantalla */
    transition: transform 2s ease-out;
    }
        
    .nav-menu.active {
            
        width: 60%;
        height: 100vh;
        background:#15152fe2;
        backdrop-filter: blur(15px);
        position: absolute;
        z-index: 70;
        transform: translateX(0);
        transition: all 0.8s ease-in;
        right: 0;
        top: 0;
           
        
                  
        ul{
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: left;
            padding: 4vw 4vw;
            gap: 2.3vw;
            margin-right: 5vw;
            font-size: 1.2rem;
            font-weight: 500;
           
            } 

            a{ 
                color: #dedcdc;
            }

            .cerrar {
                display: block;
                
                button {
                    background: transparent;
                    border: none;

                }

                i {
                    font-size: 1.5rem;
                    color: white;
                    padding: 1vw;
                    border: 1px solid white;
                    cursor: pointer;
                   
                }
            }

            li {
                width: 100%;
                padding: 10px;
                border: 2px solid transparent;
                border-radius: 5px;
                cursor: pointer;
            }
        
        
            li:hover {
                
                background-color: #137acf96;
            
            }

            .cerrar:hover {
                background: transparent;
                border: none;
            }

    }


   /*container principal hero*/

   main {
    overflow: hidden;
    background: #f5f5f5;
   }


   .container-inicio { 
    background: linear-gradient(to bottom, #103463 0%, #097a9c5b 55%, #b3d1e231 96%, #d9e7ff56 100%);
    width: 100%;
    height: 120svh;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.6vw;
    margin-bottom: 3vw;
    
    
    }



    .presentacion{

    width: 100%;
    color: whitesmoke;
    text-align: left;
    margin: 0 auto 35vw auto;

        h1 {
            font-size: 2.5rem;
            margin: 1.7vw 5vw;
            font-family: "Montserrat", sans-serif;
            font-weight: 800;
            width: 100%;
            text-align: left;
            white-space: 8px;
            filter: drop-shadow(5px 5px 8px #93939381);

        }


        h2 {
            font-size: 1.2rem;
            font-family: "Monserrat", sans-serif;
            margin: 7vw 5vw;
            text-align:left;
            width: 100%;
            color:#223c58;
        }

    }

   
    .imagen {
        width: 100%;
        margin-top: 20vh;
        text-align: center;
        margin-right: 4vw;

        img {
        width: 85vw;
        height: 85vw;
        text-align: left;
        filter: drop-shadow(5px 5px 8px #afafafad);

        
        } 
    
    
    }

   

    .titulo {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    color: #0e284d;
    font-weight: bold;
    padding: 10vw 6vw;
    text-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    b {
        color:#2865ab;
        font-weight: 600;
    }
}


.subtitulo {
    width: 100%;
    padding: 0 7vw; 
    color: #0e284d;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
}


    /*servicios*/

    .ofrecidos {
    width: 100%;
    height: auto;
    padding: 5vw;
    margin-bottom: 20vw;
    
    
     

    p {
        color: #1b1051;
        margin: 10px;
        font-size: 1.3rem;
        font-family: "Inter", sans-serif;
    }

    }
    
    
    .gradiente {
    background:none;
    padding: 0;
    border-radius: 20px;
    margin: 0;
    width: 90vw;
    height: 34.5vh;
    z-index: 0;
    text-align: center;
    box-shadow: none;
    }
    
    



    .item-servicio {
        
        margin-top: 10vw;
        padding: 0;
        
    
        ul {
    
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100vw;
        gap: 10vw;
        margin: 0 auto;

        }

        li {
            
            display: block;
            text-align: center;
            width: 90vw;
            height: 33vh;
            padding: 3vw 0;
            border-radius: 10px;
            background: #ffffff;
            margin: 0 auto;
            border: 1px solid #c9c9c9b2;
            filter: drop-shadow(3px 3px 5px #8484842e);
            
            p {
                margin-top: 14px;
                z-index: 5;
            }
        }

        img {
            filter: drop-shadow(5px 5px 10px #4f4c686c);
            margin-top: 15px;
            z-index: 5;
        }
    }

    .item-servicio li:hover {
        
        
        img {
            transform: scale(1.3);
        }

    }




    /*planes*/
   
    
    .planes {
        margin-top: 0;
        padding: 0 7vw;
       
    }

    .catalogo {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px 40px;
        gap: 25vw;
        margin-bottom: 10vw;
        
        

        h3 {
            text-align: center;
            margin: 40px 0 30px 0;
            font-size: 1.4rem;
        }


        ul li {
            font-size: 1.1rem;
        }
    }    

    .sitio, 
    .landing,
    .institucional,
    .pagina {
            padding: 10px;
            width: 100%;
            height: auto;
            color: white;
            margin-top: 0px; 
            border-radius: 10px;
            position: relative;
            filter: drop-shadow(5px 5px 7px #808080ac);
            font-size: 1.1rem;
         
            padding: 0 2vw;
    
            strong {
                font-size: 1.2rem;
                font-weight: bold;
                color: #fcfdfe;
                line-height: 1.2;
            
            }
    }


   

    .descripcion {
        
        margin-top: 4vw;
        padding: 0 3vw 16vw 3vw;

            h3 {
            
                margin: 40px auto;
                font-size: 1.4rem;
                color: white;
                font-weight: bold;

            }

            p {
            
                text-align: left;
                margin-bottom: 17px;
                line-height: 1.4;
                font-family: "Inter", sans-serif;
            }

            ul{
                margin: 10px 0;
            }

    }

    .catalogo .promo {
    padding: 10px 5px;
    background-color: rgb(158, 158, 158);
    margin-left: -23px;
    margin-top: -18px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    width: 45%;
    font-size: 1rem;
    }

    .contratar {
        width: 100%;
        height: 7vw;
        position: absolute;
        bottom: 0;
        left: 0;
        
    

        button {
            background: #F5F5F5;
            width: 100%;
            height: 20vw;
            border-radius: 0 0 10px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            border: none;
            text-align: center; 
            margin-top: 0; 
            
            a{
                color: #15407c;
                padding: 10px 40px;
                cursor: pointer;
            }

        
                        
        }

        button:hover {
            background: #d8d8d8;
        }  

        
    }

   .catalogo .sitio {
    border: 4px solid #8a8989;
    height: auto;

        button {
          border-bottom: 4px solid #8a8989;
          border-left:4px solid #8a8989; 
          border-right: 4px solid #8a8989;
          width: 103%;
          margin-left: -4px;
        }
    }
   

    /*Beneficios*/

    .gradientes {
      border: none;
      width: 42vw;
      height: 27.5vh;
    }

    .beneficios {
        background: linear-gradient(180deg, #011127 0%, #154588 100%);
        padding: 7vw 0;
         margin-top: 30vw;

        .titulo, .subtitulo {
            color: white;
        }
    }

    .beneficios-ul{
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding: 3vw;

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5vw;
            margin-bottom: 30px;

            li{
               
                text-align: center;
                width: 40vw;
                height: 26vh;
                border-radius: 17px;
                margin: 0 auto;
                text-align: center;
                background: #eaeaea;
                font-size: 1.1rem;
                color: #173250;
                padding: 3vw;
            

                img{
                    display: block;
                    text-align: center;
                    margin: 7px auto;
                    filter: drop-shadow(5px 5px 10px #87d0da9c); 
                    width: 60px;
                    height: 60px;  
                }

                .oculto {
                    display: none;
                }

                
            }
        }

    }

    .beneficios ul li:hover {
        filter: drop-shadow(7px 7px 15px #a1cae2bd);   
        
        img {
            transform: scale(1.2);
        }

    }



    /*reseñas*/
        
    .reseñas {

        width: 100%;
        height: 90vh;
        margin-bottom: 20px;
        padding: 0 5vw;
        text-align: center;
        background: white;
        
    }

    .embebido {
         
        margin-top: -23vw;
    }


    .reseñas .agregar-reseñas {
    
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20vw;
        width: 100%;
       


        h2{
           
            text-align: left;
            font-size: 1.4rem;
            color: #173250;
            text-wrap: wrap;
            padding: 20vw 0;
           
            
        }

        a {
            display: none;
        }

      

    }


    /*blog*/

    .blog {
        width: 100vw;
        height: auto;
        padding: 0 5vw;
        
                 
    }
   
     .vlog {
        .titulo {
            margin-top: -20vw;
        }
     }   

    .card {
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px solid #d6d4d4;
        border-radius: 10px;
        font-size: 1.2rem;
        filter:drop-shadow(3px 3px 3px #a5a5a575);
        margin-top: 2vw;
    
        img {
            width: 100%;
            height: 33vh;
            border-radius: 10px 0 0 10px;
        }
        
    }


    .info{
        width: 100%;
        height: 50vh; 
        text-align: left;
        padding: 6vw 3vw;
        

        h3 {
        color: #173250;
        font-size: 1.8rem; 
        text-align: center;
        }

        p {
            margin-top: 20px;
            color: #173250;
            font-size: 1.2rem;
            line-height: 1.5;
            text-align: justify;
            margin-bottom: 40px;
        } 

        a {
            color: #173250;
            border: 1px solid gray;
            padding: 10px 15px; 
            text-align: center;
            margin: 0 30%;
            
        }


    }

    /*contacto*/

    .contacto {
        width: 100vw;
        height: auto;
        padding: 5vw 5vw 15vw 5vw;
        
    
    }


    .formulario {
        width: 90vw;
        display: flex;
        justify-content: right;
        align-items: center;
        flex-direction:column-reverse;
        gap: 9vw;
        border: 2px solid #d3d3d3;
        border-radius: 10px;
        font-size: 1.2rem;
        
        
        
        img {
            width: 100%;
            height: 33vh;
            border-radius: 10px 10px 0 0;
            margin-right: 0;
            
        }
        
        fieldset {
            padding: 2vw;
           
        }
        

        h3 {
        color: #173250;
        font-size: 1.8rem; 
        margin-bottom: 25px;
        text-align: center;
        }
    
        p{
            text-align: left; 
            font-size: 1.2rem;
            color: #173250;
            width: 100%;
            padding: 0 5vw;

        }
    
        input {
            margin-top: 13px;
            width: 87%;
            height: 40px;
            padding-left: 5px;
            color: #173250;
            font-size: 1.1rem;
            border-radius: 8px;
            border: 1.5px solid #2865ab;
        

            placeholder {
                font-size: 1rem;
                color:dimgray;
                
            }

        }

        textarea {
            margin-top: 13px;
            width: 87%;
            height: 70px;
            padding-left: 5px;
            color: #173250;
            font-size: 1.1rem;
            border-radius: 8px;
            border: 1.5px solid #2865ab;

        }

    

        fieldset {
            border: none;
            text-align: center;
            
        
        }
        

        button{
    
            text-wrap: nowrap;
            width: 33vw;
            height: 11vw;
            border-radius: 5px;
            border: 1px solid #173250;
            background-color: transparent;
            cursor: pointer;
            margin: 25px 30%;
            color: #173250;
            font-weight: 400;
            font-size: 1.2rem;
            filter:drop-shadow(3px 3px 3px #a5a5a586);
            text-align: center;
            padding: 1vw 2.5vw;
            
        }

    }

    
    /*FOOTER*/
    footer {
        font-size: 1.2rem;   

        svg {
            width: 13vw;
            height: 13vw;
            margin: 20px 0;
        }

    }

}



    


            

